---
/**
 * Represents a section component with a title, price, and size text.
 *
 * @interface Props
 * @property {string} title - The title of the section.
 * @property {string} price - The price of the section.
 * @property {string} sizeText - The size text of the section.
 */

interface Props {
    title: string;
    price: string;
    sizeText: string;
} 

const { title, price, sizeText} = Astro.props;

---
<section class="bg-black h-screen text-center relative overflow-hidden">
    <header class="z-40 relative py-20 text-white" >
        <h1 class="text-[42px] font-medium">{title}</h1>
        <p class=`${sizeText}` >{price}</p>
    </header>
    
    <footer class="sm:inline-flex py-[300px] z-40 relative gap-6  font-medium text-sm">
        <slot name="btn/btn's"/>
    </footer>
    <slot name="image/video"/>
</section>